<launch>

    <!-- Launch Turtlebot Simulator -->
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="$(find project_2021)/worlds/office_empty.world"/>
    </include>

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find project_2021)/maps/office_sim.yaml" />

    <!-- Localization -->
    <include file="$(find turtlebot_navigation)/launch/includes/amcl/kinect_amcl.launch.xml" >
        <arg name="initial_pose_x" value="22.33403968811035"/>
        <arg name="initial_pose_y" value="14.582218170166016"/>
        <arg name="initial_pose_a" value="0.0"/>
    </include>

    <!-- Move base -->
    <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml" />

    <!-- Open RViz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find project_2021)/rviz_cfg/Navigation.rviz" />

</launch>
